h1 {
  text-align: center;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 20px;
  padding: 30px;
  border: 2px greenyellow solid;
  background-color: khaki;
}
